# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Track Rust binary files with Git LFS
addons/GdPlanningAI/bin/**/*.dll filter=lfs diff=lfs merge=lfs -text
addons/GdPlanningAI/bin/**/*.so filter=lfs diff=lfs merge=lfs -text
addons/GdPlanningAI/bin/**/*.dylib filter=lfs diff=lfs merge=lfs -text
addons/GdPlanningAI/bin/.gitignore !text !filter !merge !diff
