# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Track Rust binary files with Git LFS
addons/GdPlanningAI/bin/** filter=lfs diff=lfs merge=lfs -text
addons/GdPlanningAI/bin/.gitignore !text !filter !merge !diff
